<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/">Home</a>
    <h2>2023 Regular Season Leaders</h2>
    <ol>
        <%for(let i=0; i < players.length; i++){%>
            <li>
                <a href="/players/<%=players[i].id%>"><%=players[i].name%></a>
            </li>
        <%}%>

    </ol>
</body>
</html>