<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/">Home</a>
    <h2>2023 Playoff Leaders</h2>
    <%for(let i=0; i < playersPlayoff.length; i++){%>
        <li>
            <a href="/playoffs/<%=playersPlayoff[i].id%>"><%=playersPlayoff[i].name%></a>
        </li>
    <%}%>
</body>
</html>